<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <title>PinguShop - Produto</title>
        <script>
            function onChange() {
                let password = document.querySelector('#registar input[name=password]');
                let confirm = document.querySelector('#registar input[name=password-repeat]');
                if (confirm.value === password.value) {
                    confirm.setCustomValidity('');
                } else {
                    confirm.setCustomValidity('As Palavras-Passes não coincidem!');
                }
            }
        </script>
    </head>

    <body>
        <div id="cabecalho">
            <a href="/"><img src="img/logo.png" alt="pingu_logo"></a>
            <div sec:authorize="isAnonymous()" id="authentication">
                <button onclick="document.getElementById('registar').style.display='block'"><i class="fas fa-user-plus"></i> Registar</button>
                <button style="margin-right: 0.1em;" onclick="document.getElementById('entrar').style.display='block'"><i class="fas fa-sign-in-alt"></i> Entrar</button>
            </div>
            <div sec:authorize="isAuthenticated()" id="authentication">
                <form style="float: left; margin-right: 0.1em;" sec:authorize="hasRole('ROLE_USER')" method='get' th:action='@{/profile}'>
                    <input type="hidden" name="clientName" id="clientName" th:value="${#authentication.name}"/>
                    <button type="submit" value="Perfil"><i class="fas fa-user"></i> Perfil</button>
                </form>
                <form style="float: left; margin-right: 0.1em;" sec:authorize="hasRole('ROLE_ADMIN')" method='get' th:action='@{/admin}'>
                    <button type="submit" value="Administração"><i class="fas fa-user-cog"></i> Administração</button>
                </form>
                <form style="float: right;" method='post' th:action='@{/logout}'>
                    <button type="submit" value="Sair"><i class="fas fa-sign-out-alt"></i> Sair</button>
                </form>
            </div>
            <div id="procurar">
                <form method='post' th:action='@{/search}'>
                    <input type="text" placeholder="Pesquisar" name="search" id="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <a class="advanced" href="advanced_search.html">Avançada</a>
            </div>
        </div>

        <div id="entrar" class="login">
            <span onclick="document.getElementById('entrar').style.display='none'" class="close" title="Close Modal"><i class="fas fa-times-circle"></i></span>
            <form class="modal-content" th:action="@{/login}" method="post">
                <div class="container">
                <h1>Entrar</h1>
                <hr>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Introduza o Username" name="username" required>
            
                <label for="password"><b>Palavra-Passe</b></label>
                <input type="password" placeholder="Introduza a Palavra-Passe" name="password" required>

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('entrar').style.display='none'" class="cancelbtn">Cancelar</button>
                    <button type="submit" class="signupbtn">Entrar</button>
                </div>
                </div>
            </form>
        </div>

        <div id="registar" class="login">
            <span onclick="document.getElementById('registar').style.display='none'" class="close" title="Close Modal"><i class="fas fa-times-circle"></i></span>
            <form class="modal-content" method="post" th:action="@{/new-user}">
                <div class="container">
                <h1>Registar</h1>
                <hr>
                <label for="mail"><b>E-mail</b></label>
                <input type="email" placeholder="Introduza o E-mail" name="mail" id="mail" required>
            
                <label for="firstName"><b>Primeiro Nome</b></label>
                <input type="text" placeholder="Introduza o Primeiro Nome" name="firstName" id="firstName" required>

                <label for="lastName"><b>Último Nome</b></label>
                <input type="text" placeholder="Introduza o Último Nome" name="lastName" id="lastName" required>
                
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Introduza o Username" name="username" id="username" required>

                <label for="password"><b>Palavra-Passe</b></label>
                <input type="password" placeholder="Introduza a Palavra-Passe" name="password" id="password" onChange="onChange()" required>
            
                <label for="password-repeat"><b>Repita a Palavra-Passe</b></label>
                <input type="password" placeholder="Introduza novamente a Palavra-Passe" name="password-repeat" id="password-repeat" onChange="onChange()" required>
            
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('registar').style.display='none'" class="cancelbtn">Cancelar</button>
                    <button type="submit" class="signupbtn">Registar</button>
                </div>
                </div>
            </form>
        </div>
        
        <div id="categorias">
            <h2>Categorias:</h2>
            <ul>
                <li><a href="#">Tudo</a></li>
                <li><a class="active" href="#">Hoodies</a></li>
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Meias</a></li>
                <li><a href="#">Cap</a></li>
            </ul>
        </div>
            
        <div id="detalhes_do_produto">
            <h1><td th:text="${product.name}"/></h1>
                <a th:href="@{${product.imgPath}}"><img th:src="${product.imgPath}"  alt="guardanapo" class="product_img"></a>
                <div id="description">
                    <td th:text="${product.desc}"/>
                    <div id="info">
                        <h2 class="price"><td th:text="'Preço: ' + ${product.price} + '€'"/></h2>
                        <p>Portes de envios: 2.99€</p>
                        <p>Data de entrega prevista: 10 de Maio de 2021</p>
                        <p>Métodos de pagamento disponíveis:</p>
                        <img src="img/payments.png" alt="payments" class="payments">
                        <p>Stock: <strong>10</strongz></p>
                        <form method='post' th:action="@{/new-order}">
                            <input type="hidden" name="clientName" id="clientName" th:value="${#authentication.name}"/>
                            <input type="hidden" name="productID" id="productID" th:value="${product.id}"/>
                            <label for="fname">Quantidade:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                            <input type="submit" value="Encomendar">
                        </form>
                    </div>
                </div>
        </div>

        <div id="about">
            <a href="#">About this page</a>
        </div>

    </body>
</html>